#Must enter your own Mapbox token here and rename this file to .env
EXPO_PUBLIC_MAPBOX_TOKEN=


#APPWRITE SERVICES (SOME OF THESE ARE NOT USED IN THIS PROJECT)
EXPO_PUBLIC_APPWRITE_PROJECT_ID=
EXPO_PUBLIC_APPWRITE_PROJECT_NAME=
EXPO_PUBLIC_APPWRITE_ENDPOINT=
EXPO_PUBLIC_APPWRITE_DB_ID=
EXPO_PUBLIC_APPWRITE_COL_TASKS_ID=
EXPO_PUBLIC_APPWRITE_BUNDLE_ID=
EXPO_PUBLIC_APPWRITE_PACKAGE_NAME=
EXPO_PUBLIC_APPWRITE_FUNCTION_URL=

